<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= font.include %>">
  <title>*|MC:SUBJECT|*</title>


  <style type="text/css">


  </style>
</head>


<body>

<div id="content">
  <div>
    <div id="desc"><p><b>Description: </b></p>
      <p><%- job.description %></p>
      <p><b>Responsbilities: </b></p>
      <ul>
        <% for(let i = 0; i < job.responsibilities.length; i++) { %>
        <li><%- job.responsibilities[i] %></li>
        <% } %>
      </ul>
      <p><b>Skills: </b></p>
      <ul>
        <% for(let i = 0; i < job.skills.length; i++) { %>
        <%- job.skills[i].name %>,
        <% } %>
      </ul>
      <p><b>Requirements: </b></p>
      <ul>
        <% for(let i = 0; i < job.qualifications.length; i++) { %>
        <li><%- job.qualifications[i] %></li>
        <% } %>
      </ul>
      <p><b>Minimum Requirements: </b></p>
      <ul>
        <% for(let i = 0; i < job.minimumQualifications.length; i++) { %>
        <li><%- job.minimumQualifications[i] %></li>
        <% } %>
      </ul>
      <p>Job Types: <%- job.employmentType %></p>
      <p>Salary: $<%- job.salaryRangeLow %> - $<%- job.salaryRangeHigh %> per year</p>
      <p><b>Education: </b></p>
      <ul>
        <li><%if (job.education=="BACHELOR") { %>
          Bachelor’s Degree
        <% } %>
        </li>
      </ul>
    </div>

  </div>
</div>


</body>


</html>
